<nav>
    <ul>
        <li> Title</li>
        <li> Listen </li>
    </ul>
</nav>

<div class="tracks">
    {{#each items}}
    <div>
        <h2> {{this.name}}</h2>
        <audio src="{{this.preview_url}}" controls>
        </audio>
    </div>
    {{/each}}
</div>